Source: libqtshadowsocks
Section: libs
Priority: extra
Maintainer: Symeon Huang <hzwhuang@gmail.org>
Build-Depends: debhelper (>= 9),
               pkg-config,
               qt5-qmake,
               qtbase5-dev,
               libbotan1.10-dev
Standards-Version: 3.9.6
Homepage: https://github.com/librehat/libQtShadowsocks
Vcs-Git: https://github.com/librehat/libQtShadowsocks
Vcs-Browser: https://github.com/librehat/libQtShadowsocks

Package: libqtshadowsocks
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A lightweight and ultra-fast shadowsocks library written in C++/Qt

Package: libqtshadowsocks-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtshadowsocks
Description: Development files of libQtShadowsocks

Package: shadowsocks-libqtshadowsocks
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtshadowsocks
Description: A CLI shadowsocks client using libQtShadowsocks
